/* Elements HTML section */

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: #fff;
}

strong{
    font-weight: 450;
}

label{
    font-weight: 450;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.text-container p{
    margin-top: 10px;
}

/* Navbar */

.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: rgb(32, 32, 32);
    box-shadow: 0px 10px 15px rgb(32, 32, 32);
    height: 10%;
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    margin-left: 32px;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

.logo{
    font-size: 25px;
    font-weight: 650;
}

/* Mobile configurations */

@media (max-width: 950px){

    /* Elements HTML section */

    body{
        overflow-x: hidden;
    }

    /* Navbar */

    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 40vw;
        height: 92vh;
        background: rgb(32, 32, 32);
        box-shadow: 0px 10px 15px rgb(32, 32, 32);
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li{
        margin-top: 40px;
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu{
        display: block;
        margin-left: 150px;
    }

    /* About Me page */

    .pageAboutMe{
        padding-top: 28% !important;
        padding-bottom: 28% !important;
        height: 80% !important;
    }

    .contentPages{
        margin-left: 2% !important;
        margin-right: 2% !important;
        padding-left: 5% !important;
        padding-right: 5% !important;
    }

    .typed-text {
        font-size: 1.6rem;
        font-weight: 700;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        box-shadow: 0.1rem 0 0 black;
        animation: write 3s steps(22, end) forwards, hideCursor 0s 5s forwards;
    }
    
    @keyframes write {
        0% {
            width: 0;
        }
        100% {
            width: 18.5rem;
        }
    }
    
    @keyframes hideCursor {
        0% {
            box-shadow: 0.05rem 0 0 black;
        }
        100% {
            box-shadow: none;
        }
    }

    .subtitle{
        font-size: 1.5rem !important;
        font-weight: 250;
    }

    .text{
        font-size: 1rem !important;
        text-indent: 20px !important;
        font-weight: 200 !important;
    }

    .links-icons{
        margin-top: 7% !important;
    }

    /* Experiences page */

    .pageExperiences{
        padding-top: 10% !important;
        padding-bottom: 25% !important;
    }

    .descriptionLine2{
        margin-top: 5% !important;
    }

    .containersExperiences li::before{
        top: 0.9rem !important;
    }

    .contentContainersExperiences ul::before{
        height: 53% !important;
    }

    /* Projects page */

    .pageProjects{
        padding-top: 10% !important;
        padding-bottom: 25% !important;
    }

    .iconsLinks{
        margin-top: 0.9rem !important;
    }

    /* Education page*/

    .pageEducation{
        padding-top: 10% !important;
        padding-bottom: 25% !important;
    }

    /* Contact page */

    .pageContact form{
        width: 80% !important;
    }
}

/* Navbar*/

.nav-list.active{
    transform: translateX(0);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}

/* About Me Page */

.pageAboutMe {
    width: 100%;
    height: 75%;
    background-color: gray;
    padding-top: 10%;
    padding-bottom: 5%;
    position: relative;
    display: flex;
    align-items: center;
}

.contentPages{
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10%;
    padding-right: 10%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 3%;
    background-color: rgb(103, 103, 103);
    border-radius: 50px;
}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.subtitle{
    font-size: 25px;
    margin: 10px;
    font-weight: 350;
    text-align: center;
}

.text{
    font-size: 20px;
    text-align: start;
    text-indent: 60px;
    font-weight: 100;
}

@media (min-width: 951px){
    .typed-text {
        display: block;
        font-size: 3rem;
        font-weight: 700;
        width: 0;
        overflow: hidden;
        color: black;
        white-space: nowrap;
        box-shadow: 0.1rem 0 0 black;
        animation: write 3s steps(22, end) forwards, hideCursor 0s 5s forwards;
    }

    @keyframes write {
        0% {
            width: 0;
        }
        100% {
            width: 20.5ch;
        }
    }

    @keyframes hideCursor {
        0% {
            box-shadow: 0.1rem 0 0 black;
        }
        100% {
            box-shadow: none;
        }
    }
}

.links-icons {
    margin-top: 2%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.links-icons a i {
    font-size: 36px;
    color: #000;
}

.links-icons a:hover i {
    color: #1c1c1c;
}

/* Changing the section to Experiences */

.pageExperiences{
    scroll-margin-top: 9vh;
    width: 100%;
    background-color: rgb(191, 188, 188);
    padding-top: 5%;
    padding-bottom: 10%;
    position: relative;
}

.pageExperiences::before{
    content: "";
    position: absolute;
    top: -3rem;
    left: 0;
    width: 100%;
    height: 3rem;
    background: linear-gradient(to bottom, rgba(191, 188, 188, 0), rgb(191, 188, 188));
}

.titlePages{
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-align: center;
}

.spaceOfContainers{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.containersExperiences{
    background-color: rgb(212, 212, 212);
    border-radius: 20px;
    border: 1.5px solid rgb(34, 34, 34);
}

.contentContainersExperiences{
    padding: 1.5rem;
}

.position{
    font-weight: 450;
    font-size: 1.5rem;
}

.enterprise{
    font-weight: 300;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.when, .local{
    font-weight: 300;
    font-size: 0.9rem;
}

.local{
    margin-bottom: 0.5rem;
}

.description{
    font-weight: 300;
}

.atributesBallons{
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
}

.atributes{
    border-radius: 10px;
    background-color: rgb(203, 203, 203);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    font-weight: 300;
}

.textContainerUpgrader{
    padding-left: 1.5rem;
}

.contentContainersExperiences ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.contentContainersExperiences ul::before{
    content: "";
    position: absolute;
    height: 55%;
    top: 15px;
    bottom: unset;
    left: 6px;
    width: 2px;
    background-color: black;
}

.containersExperiences li{
    position: relative;
}

.containersExperiences li::before{
    content: "";
    position: absolute;
    top: 1.2rem;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    background-color: black;
    border-radius: 50%;
}

.descriptionLine2{
    font-weight: 300;
    margin-top: 1%;
}

/* Changing the section to Projects */

.pageProjects{
    scroll-margin-top: 9vh;
    width: 100%;
    background-color: rgb(160, 160, 160);
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
}

.pageProjects::before{
    content: "";
    position: absolute;
    top: -3rem;
    left: 0;
    width: 100%;
    height: 3rem;
    background: linear-gradient(to bottom, rgba(160, 160, 160, 0), rgb(160, 160, 160));
}

.containersProjects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.contentContainersProjects{
    border: 1.5px solid rgb(34, 34, 34);
    background-color: rgb(124, 124, 124);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
}

.contentContainersProjects:hover{
    box-shadow: 0 10px 20px black;
    transform: translateY(-10px) scale(1.03);
}

.projectsImage{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.textContainerProjects{
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
}

.modalContent{
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 15px;
    right: 25px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.descriptionProject{
    padding-bottom: 0.7rem;
}

.atributesProjects{
    border-radius: 10px;
    background-color: rgb(103, 103, 103);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    font-weight: 300;
}

.iconsLinks {
    margin-top: 1%;
    display: flex;
    align-items: center;
}

.iconsLinks a {
    display: inline-flex;
    align-items: center;
    font-size: 1.3rem;
    color: rgb(41, 46, 53);
}

.iconsLinks a i{
    font-size: 1.8rem;
    margin-right: 0.4rem;
}

.iconsLinks a:hover {
    color: #1c1c1c;
}

/* changing to page education */

.pageEducation{
    scroll-margin-top: 9vh;
    width: 100%;
    background-color: rgb(191, 188, 188);
    padding-top: 5%;
    padding-bottom: 7%;
    position: relative;
}

.pageEducation::before{
    content: "";
    position: absolute;
    top: -3rem;
    left: 0;
    width: 100%;
    height: 3rem;
    background: linear-gradient(to bottom, rgba(191, 188, 188, 0), rgb(191, 188, 188));
}

.containersEducation{
    background-color: rgb(212, 212, 212);
    border-radius: 20px;
    border: 1.5px solid rgb(34, 34, 34);
    margin-bottom: 2.5rem;
}

/* changing to page education */

.pageContact{
    scroll-margin-top: 9vh;
    width: 100%;
    background-color: gray;
    padding-top: 5%;
    padding-bottom: 7%;
    position: relative;
}

.pageContact::before{
    content: "";
    position: absolute;
    top: -3rem;
    left: 0;
    width: 100%;
    height: 3rem;
    background: linear-gradient(to bottom, rgba(128, 128, 128, 0), gray);
}

.contentContainersContact{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageContact form{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.pageContact form input{
    padding: 1rem;
    outline: none;
    border: 0;
    margin-bottom: 0.6rem;
    font-size: 0.8rem;
    transition: all 0.5s;
    border-radius: 10px;
}

.pageContact form textarea{
    padding: 1rem;
    outline: none;
    border: 0;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    transition: all 0.5s;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    resize: none;
    width: 100%;
}

.pageContact form button{
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    background: transparent;
    border: 2px solid black;
    transition: all 0.1s;
    border-radius: 10px;
}

.pageContact form button:hover{
    background: black;
    color: white;
}